<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<div class="container" style="margin-top: 225px">
    <div class="row">
        <div class="col-inner">
            <h3 style="text-align: justify;"><strong>VINFRUITS – QUÀ TẶNG TỪ SỰ TỬ TẾ</strong></h3>
            <p style="text-align: justify;">
                <strong>
                    <em>
                        Thực phẩm xanh – sạch – ngon
                        vẫn luôn là những tiêu chí hàng đầu giúp người tiêu dùng chọn lựa thực phẩm mỗi ngày. Thế nhưng khoảng thời gian gần đây lại có rất nhiều thương lái lợi dụng lòng tin của người tiêu dùng tráo các thực phẩm bẩn,
                        kém chất lượng gây ảnh hưởng nghiêm trọng đến sức khỏe của mọi người.
                    </em>
                </strong>
            </p>
            <p style="text-align: justify;">
                <strong>
                    <em>
                        Thực phẩm xanh – sạch – ngon
                        vẫn luôn là những tiêu chí hàng đầu giúp người tiêu dùng chọn lựa thực phẩm mỗi ngày. Thế nhưng khoảng thời gian gần đây lại có rất nhiều thương lái lợi dụng lòng tin của người tiêu dùng tráo các thực phẩm bẩn,
                        kém chất lượng gây ảnh hưởng nghiêm trọng đến sức khỏe của mọi người.
                    </em>
                </strong>
            </p>
            <div class="row">

                <div class="col">
                    <img src="https://static.tuoitre.vn/tto/i/s626/2016/08/26/hinh-1-1472206609.jpg" alt="Alternate Text" />
                </div>
                <div class="col">
                    <h3 style="text-align: justify;"><strong>VINFRUITS – QUÀ TẶNG TỪ SỰ TỬ TẾ</strong></h3>
                    <span style="font-weight: 400;">
                        Vinfruits mong rằng sự chân thành và sự thấu hiểu nhu cầu khách hàng,
                        chúng tôi muốn mang đến cho Quý khách những loại trái cây tươi ngon và chất lượng nhất . Từ những loại trái cây nhập khẩu đến những món quà từ trái cây đều được chúng tôi nâng niu, tỉ mẩn thực hiện…
                        hy vọng sẽ giúp lan tỏa sự yêu thương đến với từng gia đình, bạn bè, đồng nghiệp và đối tác của Quý khách.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

