
<div class="container" style="margin-top: 25px; margin-bottom: 50px">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="row align-items-center">
                <div class="col-12 mx-auto">
                    <div class="card shadow border">
                        <div class="card-body flex-column align-items-center">
                            <div>
                                <select onchange="updateChart(this)" id="changeChart">
                                    <option>Theo Tháng</option>
                                    <option>Theo quý</option>
                                    <option>Theo năm</option>
                                </select>
                            </div>
                            <h3 class="card-text text-center">
                                Thống kê doanh thu
                            </h3>
                            <div><canvas id="myBarChart" width="400" height="200"></canvas></div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col text-right mb-3" style="margin-right: 50px">
                                <a href="@Url.Action("ExportRevenueByMonth","Statistical")" class="btn btn-primary">Xuất file excel</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
  
</div>
@*<div class="row">
    <div class="col-md-6">
        <h5>Pi chart example</h5>
        <div>
            <canvas id="myPiechart"></canvas>
        </div>
    </div>
    <div class="col-md-6">
       
        <h5>Bar chart</h5>
        <div><canvas id="myBarChart" width="400" height="200"></canvas></div>
    </div>
</div>*@
@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script>


         @*   var ctx = document.getElementById("myPiechart").getContext('2d');*@

            // Doanh thu theo tháng
            var arrMonth = [];
            var arrTotalMonthlyRevenue = [];

            // Doanh thu theo năm
            var arrYear = [];
            var arrTotalYearByRevenue = [];

            // Doanh thu theo quý
        var arrQuarter = [];
        var arrTotalYearByQuarter= [];

         @*   var myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: arrMonth,
                    datasets: [{
                        backgroundColor: ["#2ecc71", "#3498db", "95a5a6"],
                        data: arrTotalMonthlyRevenue
                    }]
                }
            })*@

            var ctx_barChart = document.getElementById("myBarChart").getContext("2d");
            var myBarChart = new Chart(ctx_barChart, {
                type: 'bar',

                data: {
                    labels: arrMonth,
                    datasets: [{
                        label: 'VND',
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        boderWidth: 2,
                        data: arrTotalMonthlyRevenue
                    }

                    ]
                },
                options: option
            });

            var option = {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }



            jQuery.ajax({
                url: '@Url.Action("MonthlyRevenue", "Statistical")',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        arrMonth.push("Tháng " + data[i].Date);
                        arrTotalMonthlyRevenue.push(data[i].Total);
                    }
                },
                error: function (err) {
                    console.log(err);
                }

            });

            jQuery.ajax({
                url: '@Url.Action("RevenueByYear", "Statistical")',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        arrYear.push("Năm " + data[i].Date);
                        arrTotalYearByRevenue.push(data[i].Total);
                    }
                },
                error: function (err) {
                    console.log(err);
                }

            });

        jQuery.ajax({
                url: '@Url.Action("RevenueByQuarter", "Statistical")',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        arrQuarter.push("Quý " + data[i].Date);
                        arrTotalYearByQuarter.push(data[i].Total);
                    }
                },
                error: function (err) {
                    console.log(err);
                }

            });

        const charts = document.getElementById('changeChart');

        function updateChart() {
            if (charts.options[charts.selectedIndex].text == "Theo năm") {
                myBarChart.data.labels = arrYear
                myBarChart.data.datasets[0].data = arrTotalYearByRevenue;
                myBarChart.update();
            }
            else if (charts.options[charts.selectedIndex].text == "Theo quý") {
                myBarChart.data.labels = arrQuarter
                myBarChart.data.datasets[0].data = arrTotalYearByQuarter;
                myBarChart.update();
            }
            else {
                myBarChart.data.labels = arrMonth
                myBarChart.data.datasets[0].data = arrTotalMonthlyRevenue;
                myBarChart.update();
            }

        }


    </script>
}
