@model WebBanHang.Context.Subscribe

<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                    <h4>Bảng tin</h4>
                    <p>Đăng ký nhận bản tin để nhận khuyến mãi 20%</p>
                </div>
            </div>
            <div class="col-lg-6">
                @using (Ajax.BeginForm("Subscribe", "Home", new AjaxOptions
                {
                    OnBegin = "OnBeginSub",
                    OnSuccess = "OnSuccessSub",
                    OnFailure = "OnFailureSub"
                }))
                {
                    @Html.AntiForgeryToken()
                    <script>
                        function OnBeginSub() {

                        }
                        function OnSuccessSub(rs ) {
                            if (rs.Success) {
                                Swal.fire('Cảm ơn bạn đã đăng ký');
                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Đã xảy ra lỗi!',
                                });
                            }
                            
                        }
                    </script>
                    <form action="post">
                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                            <input id="newsletter_email" name="Email" type="email" placeholder="Nhập email của bạn" required="required" data-error="Valid email is required.">
                            <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Đăng ký ngay</button>
                        </div>
                    </form>
                }

            </div>
        </div>
    </div>
</div>